body {
    background-blend-mode: lighten;
    background-color: rgb(150, 177, 149);
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
  
h1 {
    font-size: 60px;
    color:whitesmoke;
    text-align: center;
    background-image: url('https://cdn.pixabay.com/photo/2020/02/18/15/41/buffalo-trace-4859798_1280.jpg');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 16px;
    border-style: hidden;
    margin-left: 200px;
    margin-right: 200px;
    font-family: Georgia, 'Times New Roman', Times, serif;
} 

footer {
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    
}

ul{
    font-size: 17px;
}
p {
    font-size: 25px;
}

li{
    list-style-type: none;
}

img {
    max-width: 30%;
    height: auto;
    border-radius: 16px;
}

#drink-container {
    display: grid;
    grid-auto-flow: column;
    margin-left: 50px;
    margin-right: 50px;
}

#howToBtn{
    border-style: ridge;
    border-radius: 16px;
}

#cheersBtn{
    border-style: ridge;
    border-radius: 16px;
    margin-top: 10px;
}
#refreshBtn{
    border-style: ridge;
    border-radius: 16px;
    margin-top: 10px;

}

#ingredients{
    margin: 10px;

}


